#profile {
    left: 40%;
    top: 16%;
    padding: 25px 20px;
    justify-content: center;
}

#links {
    right: 5%;
    bottom: 16%;
    padding: 25px 20px;
}

#taro {
    left: 5%;
    top: 12%;
    padding: 15px;
    background-color: var(--background-color);
}

#themes {
    right: 7%;
    top: 13%;
    padding: 25px 50px;
    justify-content: space-evenly;
}

#timer {
    left: 6%;
    bottom: 12%;
    width: 240px;
}

#taro > img {
    width: 312px;
    cursor: pointer;
}

.taro-title {
    position: absolute;
    background-color: var(--background-color);
    text-align: center;
    bottom: -12px;
    left: 12px;
    right: 12px;
    width: fit-content;
}

.select-theme {
    text-decoration: none;
}

#links > *:not(.ui) {
    padding: 8px 20px;
}

#profile > *:not(.ui) {
    padding: 15px;
}

#timer > *:not(.ui) {
    padding: 25px;
}

img {
    width: 256px;
    image-rendering: pixelated;
}

@media(orientation: landscape) {
    #taro > img{
        width: 225px;
    }
}

@media(orientation: portrait) {
    #profile, #timer, #themes, #links, #taro {
        left: 0;
        width: 80%;
    }

}
